/* Import Nunito Sans font from Google Fonts with different weights */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600&display=swap");

/* Reset styles and apply global styling */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}

/* Set the base font size for easier rem units */
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/* Style for the body */
body {
    background: #5a5b5c;
    overflow-x: hidden;
    padding-left: 35rem;
}

/* Common styling for sections */
section {
    min-height: 100vh;
    padding: 1rem;
}

/* Styling for the header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Styling for the logo */
.logo {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

/* Styling for navigation links */
.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

/* Hover and active styles for navigation links */
.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

/* Styling for the home section */
.home {
    height: 100vh;
    background: linear-gradient(-90deg, #031540 65%, #fff 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

/* Styling for the circular image in the home section */
.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background: #031540;
    border-radius: 50%;
    border: 25px solid #fff;
    outline: 25px solid #031540;
}

/* Styling for the image inside the circular frame */
.home-image img {
    position: relative;
    bottom: 5px;
    max-width: 380px;
    border-radius: 50%;
}

/* Styling for the content in the home section */
.home-content {
    max-width: 600px;
    color: #fff;
    text-align: right;
}

/* Styling for headings and text in the home section */
.home-content h1 {
    font-size: 60px;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: .5px #fff;
}

.home-content p {
    font-size: 20px;
    margin-top: 20px;
}

.about .heading {
    padding-top: 50px;
    font-size: 50px;

}

/* Styling for the about section */
.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 6rem;
}

/* Styling for information and counters in the about section */
.about .row .info {
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3 {
    font-size: 2rem;
    color: white;
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span {
    color: #0f98f3;
    padding: 0 0.5rem;
}

.about .row .counter {
    flex: 1 1 48rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box {
    width: 20rem;
    border-radius: 20px;
    background: #333333;
    color: #eee;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .counter .box span {
    font-size: 4rem;
    color: #3498db;
}

.about .row .counter .box span h3 {
    font-size: 1rem;
}

.education .heading {
    font-size: 50px;
}

/* Styling for the education section */
.education .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

/* Styling for education boxes */
.education .box-container .box {
    width: 27rem;
    margin: 4rem;
    padding-left: 4rem;
    border-left: 0.2rem solid #fff;
    position: relative;
}

.education .box-container .box span {
    font-size: 1.3rem;
    background: #222;
    color: #dae4de;
    border-radius: 5rem;
    padding: 0.5rem 2.5rem;
}

.education .box-container .box h3 {
    font-size: 2rem;
    color: #0091f1;
    padding-top: 1.5rem;
}

.education .box-container .box p {
    font-size: 1.4rem;
    color: #eee;
    padding: 1rem 0;
}

.education .box-container .box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #031540;
    background-color: #fff;
}

.skills .heading {
    font-size: 50px;
    padding-bottom: 50px;
}

/* Styling for the skills section */
.skills .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

/* Styling for skill boxes */
.skills .box-container .box {
    height: 20rem;
    width: 26rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
}

.skills .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.skills .box-container .box:hover img {
    transform: scale(1.2);
}

.contact .heading {
    font-size: 50px;
}

/* Styling for the contact section */
.contact .row {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content {
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

/* Styling for the contact form */
.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contact .row form .box {
    padding: 1.5rem;
    margin: 1rem 0;
    background: #2424247d;
    color: white;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}

.contact .row form .box::placeholder {
    text-transform: capitalize;
}

.contact .row form .message {
    height: 15rem;
    resize: none;
}

.contact .row .content .title {
    text-decoration: uppercase;
    color: #3498db;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: white;
    padding: 1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i {
    padding-right: 1rem;
    color: #3498db;
}

/* Styling for the scroll top button */
.top {
    position: fixed;
    bottom: 7.5rem;
    right: 2rem;
    z-index: 100;
    display: none;
}

/* Styling for generic buttons */
.btn {
    padding: 12px 35px;
    background: #00abf0;
    border-radius: 40px;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #00abf0;
    transition: .5s;
}

.btn:hover {
    box-shadow: none;
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .home {
        padding: 1rem 4rem;
    }
}

@media (max-width: 991px) {
    header {
        left: -120%;
    }

    .navbar {
        display: block;
    }

    header.toggle {
        left: 0%;
    }

    body {
        padding: 0;
    }

    .home img {
        display: block;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }

    .home img {
        display: block;
    }
}

@media (max-width: 400px) {
    header {
        width: 100vw;
    }

    .heading {
        margin: 0 3rem;
    }

    .about .row .counter .box {
        width: 100%;
    }

    .education .box-container .box {
        width: 100%;
    }

    .portfolio .box-container .box {
        width: 100%;
    }

    .contact .row form {
        margin: 3rem;
    }

    .home img {
        display: block;
    }
}